# Path to the private key file
PRIVATE_KEY_PATH=./certs/private_key.pem

# Path to the public certificate file
PUBLIC_CERT_PATH=./certs/certificate.pem

# Passphrase for the private key (if needed)
PRIVATE_KEY_PASSPHRASE=localkey

# Port for the server to listen on
PORT=3000
